wsdl/FaultDetail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:tns="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://schemas.xmlsoap.org/soap/envelope/">

    <types>
        <xsd:schema targetNamespace="http://schemas.xmlsoap.org/soap/envelope/">
            <xsd:element name="FaultDetail">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="exceptionName" type="xsd:string"/>
                        <xsd:element name="hostname" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="FaultDetailMessage">
        <part name="parameters" element="tns:FaultDetail"/>
    </message>

    <portType name="FaultDetailPortType">
        <operation name="GetFaultDetail">
            <input message="tns:FaultDetailMessage"/>
            <output message="tns:FaultDetailMessage"/>
        </operation>
    </portType>

    <binding name="FaultDetailBinding" type="tns:FaultDetailPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetFaultDetail">
            <soap:operation soapAction="http://schemas.xmlsoap.org/soap/envelope/GetFaultDetail"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="FaultDetailService">
        <port name="FaultDetailPort" binding="tns:FaultDetailBinding">
            <soap:address location="http://localhost:8080/ws/FaultDetailService"/>
        </port>
    </service>
</definitions>
