gen/schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import schemaLocation="schema3.xsd"/>

  <xs:element name="Body" type="SoapBody"/>

  <xs:element name="Envelope" type="SoapEnvelope"/>

  <xs:element name="Fault" type="SoapFault"/>

</xs:schema>

